# ====================================
# 🔐 GENERAL
# ====================================
.env
*/.env
.env.*
*.log
.DS_Store
Thumbs.db

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output
jest-html-reporters-*.html

# Grunt
.grunt

# Bower
bower_components

# node-waf config
.lock-wscript

# Binary Addons
build/Release

# Dependencies
node_modules/
jspm_packages/
client/node_modules/
server/node_modules/

# React/Vite/Next/Vue
client/build/
client/.env
client/.vscode/
client/coverage/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.DS_Store
client/test-output/
client/junit.xml
.next
.nuxt
dist
.vuepress/dist
.temp
.cache
.parcel-cache
.docusaurus

# VitePress
**/.vitepress/dist
**/.vitepress/cache

# Server files
server/uploads/
server/uploads/.DS_Store
server/.env
server/.vscode/
server/*.log
server/*.mongodb
server/*.bson
server/*.dump
server/private.key
server/public.key
server/jwtRS256.key*
server/*.pem

# Lock files
yarn.lock
pnpm-lock.yaml

# VS Code / JetBrains
.vscode/
.idea/
*.swp
*.swo
*.tmp
.vscode-test

# Secrets
*.pem
*.key
*.crt
*.pfx

# Docker
.dockerignore
Dockerfile
docker-compose.yml
*.pid

# Monorepo tools
turbo/
nx.json

# Vercel
.vercel/
.vercel/project.json
